<html ng-app="springboot">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
	<script src="app.js"></script>	
</head>
<body>
	<div ng-controller='customerController'>
		<a>
			{{dafuq}}
		</a>
	</div>
</body>
</html>